.sprite {
    display:inline-block;
    width: 64px;height: 64px;
    background-image: url('css_sprites.png');
}    
.sprite.bg-1 {
    width: 338px; height: 200px;
    background: url('css_sprites.png') -2963px -1186px;
}
.sprite.bg-LOLlogo {
    width: 508px; height: 292px;
    background: url('css_sprites.png') -2435px -1186px;
}
.sprite.bg-uzi1 {
    width: 500px; height: 361px;
    background: url('css_sprites.png') -1830px -1533px;
}
.sprite.bg-首页背景4 {
    width: 1800px; height: 870px;
    background: url('css_sprites.png') -10px -1186px;
}
.sprite.bg-uzi3 {
    width: 2000px; height: 1156px;
    background: url('css_sprites.png') -10px -10px;
}
.bg-首页背景3 {
    width: 2000px; height: 1000px;
    background: url('css_sprites.png') -2030px -10px;
}
.sprite.bg-图片1 {
    width: 585px; height: 327px;
    background: url('css_sprites.png') -1830px -1186px;
}